
body{
    max-width: 1000px 1400px;
    background-image: url("background-image.jpg");
}
h1, h2, h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.container-fluid{
    background-color:yellow !important;
    border-color: yellow !important;

}
.navbar-nav{
    display: flex;
    align-items:center;
    justify-content:space-around;
}

.navbar-nav .nav-link{
    color: blue;
    text-align: left;
    padding-bottom: 0.2rem;

}
.navbar-nav .nav-link:hover{
    color: blueviolet;
    text-decoration: none;
    text-decoration-color: blueviolet;
}
.nav-item{
    color: blue;
    text-decoration: underline;

}
@media(min-width:500px){
    .navbar-nav{
        margin-left:20rem;
    }
}
.custom-navbarr {
    background-color: pink; /* Set the background color to pink */
}

